extends ./layout/portal.pug

block main
    if user
        .row
            .col-md-4 Name
            .col-md-8 #{user.name}
        .row
            .col-md-4 Age
            .col-md-8 #{user.age}    
        .row
            .col-md-4 Address
            .col-md-8 #{user.address}
        .row
            .col-md-4 Role
            .col-md-8 #{user.role}
    
