<!DOCTYPE html>
html
    head
        title coohom
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
        link(rel="stylesheet" type="text/css" href='../public/css/vendors/bootstrap.css')
        link(rel="stylesheet" type="text/css" href='../public/css/styles/portal.css')
    body
        .container
            block main

        script(src='../public/js/vendors/jquery.3.2.1.min.js')
        script(src='../public/js/vendors/bootstrap.js')
        
        block scripts
                
            
